@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
    font-family: "Open Sans", sans-serif;;
    background-color: #ccc;
}

/* !GENERAL */
h1, h2, h3 {
font-family: "Roboto", sans-serif;
}

.list-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* ! PAGE HEADER */

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

h1 img {
    height: 30px;
    width: 30px;
}

/* ! GREETING SECTION */

.greeting-title {
    display: flex;
    /* white-space: nowrap; */
    justify-content: space-between;
    /* align-items: center; */
    /* font-size: 2rem; */
}

.greeting-title .username {
    opacity: 0.8;
    text-transform: capitalize;
}

/*! TO DO INPUT */
.to-do-input {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
    padding: 2rem;
}


.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert {
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    width: 70%;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.35rem;
    letter-spacing: 0.24rem;
    text-transform: capitalize;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
}

.alert-success {
    color: #155724;
    background: #d4edda;
}

#item {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
    color: #243a52;
}


/*? INPUT BUTTON */

#enter {
    background-color: dodgerblue;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 10px;
}

#enter:hover {
    padding: 8px 16px;
    background-color: #a2d2ff;
    ;
    transition: all 0.3s ease-in-out;
}

.clear-btn {
    text-transform: capitalize;
    padding: 5px 20px;
    background-color: hsl(360, 71%, 43%);
    color: #fff;
    border: none;
    border-radius: 50px;
    display: grid;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    cursor: pointer;
}

/*! TO DO LIST SECTION */

.list-container {
    display: none;
}

.show-list-container {
    display: block;
}

.to-do-list {
    margin: 20px auto;
    /* background-color: ; */
    /* box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149); */
    padding: 0.25rem 1rem;
    border-radius: 5px;
    text-transform: capitalize;
}

.to-do-list:hover {
    /* background-color: dodgerblue; */
    transition: background 0.3s ease-in-out;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a2d2ff;
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 0 10px;
}

.list-item:hover {
    background: dodgerblue;
}

.list-title {
    letter-spacing: 2px;
    color: hsl(209, 61%, 16%);
}

.edit-btn,
.delete-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.edit-btn {
    color: hsl(125, 71%, 29%);
}

.delete-btn {
    color: hsl(360, 71%, 46%);
}

.edit-btn:hover {
    color: hsl(125, 71%, 29%);
}

.delete-btn:hover {
    color: hsl(360, 71%, 36%);
}

.edit-btn:hover,
.delete-btn:hover {
    padding: 2px;
    transition: padding 0.1s linear;
}

/* ! MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    body {
        padding: 3%;
    }

    h1 {
        font-size: 2rem;
    }

    h1 img {
        width: 25px;
        height: 25px;
    }

    .greeting-title {
        font-size: 1.5rem;
    }

    .input-header {
        flex-direction: column;
    }

    .to-do-list {
        width: 80%;
    }
}